<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="registered.css">
</head>
<body class="{{if .IsLoggedIn}}is-logged-in{{else}}is-logged-out{{end}}">
  <header>
      <h1>MAIN</h1>
  </header>

  <div class="logged-in-content">
    <br><br><br><br>
      <table id="cont">
          <tr><button><a href="doLogin">Login</a></button></tr>
          <tr><button><a href="doRegister">Register</a></button></tr>
          <tr><button><a href="doLogout">Logout</a></button></tr>
          <tr><button><a href="createP">Create Post</a></button></tr>
          <form action="/" method="get" id="filterForm">
            <input type="text" name="catCont2" id="categoryInput" class="size" autocomplete="off" placeholder="Choose Category..." list="data2">
            <datalist id="data2">
                <option value="Sports">Sports</option>
                <option value="News">News</option>
                <option value="Others">Others(for now)</option>  
            </datalist>
            <button type="submit">Apply filters</button>
            <button type="button" id="clearFilters">Clear Filters</button>
        </form>        
      </table>

      <div class="container">
          <div class="post-container">
              {{range .Posts}}
              <div class="post">
                  <h3>{{.User.Username}}</h3>
                  <p>{{.Post.PostContent}}</p>
                  {{range .Categories}}
                  <p>Category: {{.CatName}}</p>
                  {{end}}
                  <small>Posted on: {{.Post.CreatedAt}}</small>
                  <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                  <br>
                  <button class="btn" id="green" data-count="0"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                  <button class="btn" id="red" data-count="0"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                  {{if $.IsLoggedIn}}
                  <form action="/createC?postID={{.Post.PostID}}" method="post">
                      <textarea name="commentCont" placeholder="Comment Content" required></textarea>
                      <button type="submit">Add Comment</button>
                  </form>
                  {{end}}
                  <div class="comments">
                      {{range .Comments}}
                      <div class="comment">
                          <p>{{.CommentContent}}</p>
                          <small>Commented by: {{.Username}} </small><br>
                          <small>on {{.CreatedAt}}</small>
                          <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                          <br>
                          <button class="btn" id="green" data-count="0"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                          <button class="btn" id="red" data-count="0"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                      </div>
                      {{end}}
                  </div>
              </div>
                {{else}}
          <p>No posts found yet.</p>
          {{end}}
          </div>
      </div>
  </div>

  <div class="logged-out-content">
      <div class="container">
          <div class="post-container">
              <table>
                  <tr><button><a href="doLogin">Login</a></button></tr>
                  <tr><button><a href="doRegister">Register</a></button></tr>
              </table>
              {{range .Posts}}
              <div class="post">
                  <h3>{{.User.Username}}</h3>
                  <p>{{.Post.PostContent}}</p>
                  {{range .Categories}}
                  <p>Category: {{.CatName}}</p>
                  {{end}}
                  <small>Posted on: {{.Post.CreatedAt}}</small>
                  <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                              <br>
                              <button class="btn" id="green" data-count="0"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                              <button class="btn" id="red" data-count="0"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                  <form action="/createC?postID={{.Post.PostID}}" method="post">
                      <div class="comments">
                          {{range .Comments}}
                          <div class="comment">
                              <p>{{.CommentContent}}</p>
                              <small>Commented by: {{.Username}} on {{.CreatedAt}}</small>
                              <small>on {{.CreatedAt}}</small>
                              <script src="https://use.fontawesome.com/fe459689b4.js"></script>
                              <br>
                              <button class="btn" id="green" data-count="0"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                              <button class="btn" id="red" data-count="0"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i> <span class="count">0</span></button>
                          </div>
                          {{end}}
                      </div>
                  </form>
              </div>
              {{else}}
              <p>No posts found yet.</p>
              {{end}}
          </div>
      </div>
  </div>

  <footer>
      <p>Web Forum &copy; 2024</p>
  </footer>

  <script>
    var btns = document.querySelectorAll('.btn');
   
    btns.forEach(function(btn) {
      btn.setAttribute('data-count', '0');
      btn.querySelector('.count').textContent = '0';
   
      btn.addEventListener('click', function() {
        var count = parseInt(this.getAttribute('data-count'));
        var greenBtn = this.parentNode.querySelector('#green');
        var redBtn = this.parentNode.querySelector('#red');
        var isPost = this.parentNode.classList.contains('post');
   
        if (this.id === 'green') {
          if (greenBtn.classList.contains('clicked')) {
            greenBtn.classList.remove('clicked');
            greenBtn.classList.remove('green');
            count = 0;
          } else {
            redBtn.classList.remove('clicked');
            redBtn.classList.remove('red');
            redBtn.querySelector('.count').textContent = '0';
            redBtn.setAttribute('data-count', '0');
   
            greenBtn.classList.toggle('green');
            count = (count === 0)? 1 : 0;
            greenBtn.setAttribute('data-count', count);
            greenBtn.querySelector('.count').textContent = count;
            greenBtn.classList.add('clicked');
   
            sendFeedback('like', this.parentNode.dataset.id, isPost);
          }
        } else {
          if (redBtn.classList.contains('clicked')) {
            redBtn.classList.remove('clicked');
            redBtn.classList.remove('red');
            count = 0;
          } else {
            greenBtn.classList.remove('clicked');
            greenBtn.classList.remove('green');
            greenBtn.querySelector('.count').textContent = '0';
            greenBtn.setAttribute('data-count', '0');
   
            redBtn.classList.toggle('red');
            count = (count === 0)? 1 : 0;
            redBtn.setAttribute('data-count', count);
            redBtn.querySelector('.count').textContent = count;
            redBtn.classList.add('clicked');
   
            sendFeedback('dislike', this.parentNode.dataset.id, isPost);
          }
        }
   
        this.setAttribute('data-count', count);
        this.querySelector('.count').textContent = count;
      });
   
      btn.addEventListener('dblclick', function(event) {
        event.preventDefault();
      });
    });
   
    function SendFeedback(type, id, isPost) {
      fetch('/feedback', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          feedback: isPost? (type === 'like'? 'post_like' : 'post_dislike') : (type === 'like'? 'comment_like' : 'comment_dislike'),
          id: id,
        }),
      })
     .then(response => response.json())
     .then(data => {
        console.log('Success:', data);
      })
     .catch((error) => {
        console.error('Error:', error);
      });
    }

    document.addEventListener('DOMContentLoaded', function() {
      const clearFiltersBtn = document.getElementById('clearFilters');
      const categoryInput = document.getElementById('categoryInput');
      const filterForm = document.getElementById('filterForm');

      clearFiltersBtn.addEventListener('click', function() {
        categoryInput.value = ''; // Clear the input field
        filterForm.submit(); // Submit the form to reload all posts
      });
    });
  </script>
</body>
</html>
