<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reg.css">
    <title>Web Forum</title>
    
</head>
<body>
    <header>
        <h1>Twitter</h1>
    </header>

    <div class="container">
        <div class="register-container">
            <h2>Register</h2>
            {{if .SuccessMessage}}
            <div class="success-message">{{.SuccessMessage}}</div>
            {{end}}
            {{if .ErrorMessage}}
            <div class="error-message" style="color: red; text-align: center;">{{.ErrorMessage}}</p>
            {{end}}
            <form action="/doRegister" method="post">
                <input type="text" name="username" placeholder="Username" required maxlength="75">
                <input type="email" name="email" placeholder="Email" required maxlength="75">
                <input type="password" name="password" placeholder="Password" required maxlength="75">
                <input type="submit" value="Register">
                <button><a href="/" class="button-link">Back</a></button>
                <p class="account-query">Already have an account?<a href="/doLogin"> Login</a></p>
            </form>
        </div>
    </div>

    <footer>
        <p>Web Forum &copy; 2024</p>
    </footer>
</body>
</html>
